body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #5215fc;
}

@media screen and (max-width: 540px) {
  body {
    place-items: unset;
    justify-content: center;
    align-items: center !important;
  }
}
